html {
  box-sizing: border-box;
}

/* The Universal Selector */
*,
/* All elements*/
*::before,
/* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}


:root {
  font-size: 62.5%;
}


body {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  margin: 0;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  --nav-bg: #ffffff;
  --borders: #000000 solid 3px;
  --link-hover-color: #000000;
  --button-bg: #000000;
  --button-bg-hove: #ffffff;
  --submit: #000000;
  --warn: red;
  --danger: red;
  --secondary: #000000;
  --card-box-shadow: 5px 5px 6px -1px gray;
  --font-xtreme: 4.2rem;
  --font-xxl: 3.6rem;
  --font-xl: 2.4rem;
  --font-l: 1.8rem;
  --font-reg: 1.6rem;
  --card-border-radius: 6px;
}

html, body {
  height: 100%; 
  margin: 0; 
  padding: 0; 
  overflow: hidden; 
  box-sizing: border-box;
}

header {
  width: 100%;
  background: var(--nav-bg);
  border-bottom: var(--borders);
}

nav {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 60px; 
  display: flex; 
  align-items: center; 
  padding: 0 20px; 
  box-sizing: border-box; 
  background: var(--nav-bg); 
  border-bottom: var(--borders); 
  z-index: 1000;
}

main {
  margin-top: 65px;
  margin-bottom: 20px;
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  width: 98%; 
  height: 98%;
  overflow-y: auto;
  border: 2px solid #000000;
  box-shadow: 10px 10px 20px rgba(61, 61, 61, 0.2);
  border-radius: 5px;
}

.header-logo-container {
  display: flex;  
  align-items: center; 
  height: 100%; 
  margin-right: auto; 
  max-height: 100%; 
  overflow: hidden; 
}

.header-logo-container a {
  display: flex; 
  align-items: center; 
  height: 100%;  
}


.header-logo-container img {
  max-height: 100%;  
  width: auto; 
  display: block; 
  max-width: 100%; 
}


nav ul {
  display: flex; 
  align-items: center;  
  padding: 0; 
  list-style: none;  
  margin: 0;
  font-size: large;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a,
.btn-danger,
.btn-warning {
  text-decoration: none;
  padding: 10px 15px; 
  background-color: transparent;  
  color: #000000;  
  transition: background-color 0.3s;
  border-bottom: 2px solid transparent; 
}

nav ul li a:hover {
  background-color: #ffffff;
  border-bottom: 2px solid #000000;
}

.btn-danger:hover{
  background-color: #ffffff;
  border-bottom: 2px solid #000000;
}

.btn-warning:hover{
  background-color: #ffffff;
  border-bottom: 2px solid #000000;
}

footer {
  height: 60px;
  width: 100%; 
  background: var(--nav-bg);
  border-top: var(--borders);
  display: flex;
  align-items: center;
  justify-content: center;
}

#logout-form {
  margin: 0;  
  padding: 0; 
}

#logout-btn {
  padding: 10px 15px;  
  border: none; 
  background-color: var(--button-bg); 
  color: #fff; 
  cursor: pointer;  
  border-radius: 4px; 
  text-decoration: none; 
  transition: background-color 0.3s;  
}

#logout-btn:hover {
  background-color: var(--button-bg-hove);
  color: var(--link-hover-color);
  border: #000000 solid 2px; 
}

button {
  background: black;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}

button:hover {
  background-color: var(--button-bg-hove);
  color: var(--link-hover-color);
  border: #000000 solid 2px; 
}