a {
    text-decoration: none;
    padding: 10px 15px; 
    background-color: transparent;  
    color: #000000;  
    transition: background-color 0.3s;
    border-bottom: 2px solid transparent; 
}

a:hover {
    background-color: #ffffff;
    border-bottom: 2px solid #000000;
}

a, p {
    font-size: 150%;
}