{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block content %}

<h1>Dashboard</h1>

<h2>Feedings</h2>
<ul>
    {% for feeding in feedings %}
    <li>
        <a href="{% url 'meal-detail' feeding.id %}">{{ feeding }}</a>
    </li>
    {% endfor %}
</ul>

<div class="container mt-5">
    <h2>Create a New Meal</h2>


    <form method="post" id="feeding-form">
        {% csrf_token %}

        <div>
            <h3>Create a Feeding</h3>
            {{ feeding_form.as_p }}

            <h4>Food Items</h4>
            <div>
                <input type="text" id="nutrition-search" placeholder="Search food">
                <button type="button" id="search-button">Search</button>
            </div>
            <div id="search-results" class="search-results"></div>
            <div id="food-items">
                {{ food_item_formset.management_form }}
                {% for form in food_item_formset %}
                <div class="food-item-form">
                    {{ form.as_p }}
                    <button type="button" class="remove-form">Remove</button>
                </div>
                {% endfor %}
            </div>

            <button type="button" id="add-food-item">Add Food Item</button>
            <button type="submit">Save Feeding</button>
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const formsetDiv = document.getElementById('food-items');
        const addFoodItemBtn = document.getElementById('add-food-item');
        const totalForms = document.querySelector('[name="fooditem-TOTAL_FORMS"]');
        // const searchButton = document.getElementById('search-button');
        const searchInput = document.getElementById('nutrition-search');
        // const searchResultsDiv = document.getElementById('search-results');
        const searchResultsDiv = document.createElement('div');
        searchResultsDiv.id = 'search-results';
        searchResultsDiv.classList.add('search-results');
        searchInput.parentNode.insertBefore(searchResultsDiv, searchInput.nextSibling)

        searchInput.addEventListener('input', function () {
            const query = searchInput.value;
            if (!query) {
                searchResultsDiv.innerHTML = '';
                return;
            }

            fetch(`/get-instant-data/?query=${encodeURIComponent(query)}`)
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                    } else {
                        displaySearchResults(data.foods);
                    }
                })
                .catch(error => console.error('Error fetching nutrition data:', error));
        });

        function displaySearchResults(foods) {
            searchResultsDiv.innerHTML = ''; // Clear previous results

            foods.forEach(food => {
                const resultItem = document.createElement('div');
                resultItem.classList.add('search-result-item');
                
                // Display food image
                if (food.photo && food.photo.thumb) {
                    const foodImage = document.createElement('img');
                    foodImage.src = food.photo.thumb;
                    foodImage.alt = food.food_name;
                    foodImage.classList.add('food-image');
                    resultItem.appendChild(foodImage);
                }
                // Display food name
                const foodName = document.createElement('p');
                foodName.textContent = food.food_name;
                resultItem.appendChild(foodName);
                
                resultItem.addEventListener('click', function () {
                    fetchNutritionData(food.food_name, food.photo.thumb);
                    searchResultsDiv.innerHTML = ''; // Clear results after selection
                    searchInput.value = ''; // Clear input after selection
                });
                searchResultsDiv.appendChild(resultItem);
            });
        }

        function fetchNutritionData(selection) {
            fetch('/get-nutrition-data/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': getCookie('csrftoken')  // Include CSRF token if needed
                },
                body: new URLSearchParams({ 'selection': selection })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                    } else {
                        populateFoodItemForm(data);
                    }
                })
                .catch(error => console.error('Error fetching detailed nutrition data:', error));
        }
       
        function populateFoodItemForm(data) {
            const currentFormCount = formsetDiv.getElementsByClassName('food-item-form').length;
            const newForm = formsetDiv.getElementsByClassName('food-item-form')[0].cloneNode(true);

            updateFormIndex(newForm, currentFormCount);

            newForm.querySelector('[name$="name"]').value = data.foods[0].food_name;
            newForm.querySelector('[name$="calories"]').value = data.foods[0].nf_calories;
            newForm.querySelector('[name$="fats"]').value = data.foods[0].nf_total_fat;
            newForm.querySelector('[name$="proteins"]').value = data.foods[0].nf_protein;
            newForm.querySelector('[name$="carbs"]').value = data.foods[0].nf_total_carbohydrate;

            formsetDiv.appendChild(newForm);
            totalForms.setAttribute('value', currentFormCount + 1);
            addRemoveHandlers();
        }

        // CSRF Token Helper Function
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // ADD/REMOVE FORMS
        addFoodItemBtn.addEventListener('click', function () {
            const currentFormCount = formsetDiv.getElementsByClassName('food-item-form').length;
            const newForm = formsetDiv.getElementsByClassName('food-item-form')[0].cloneNode(true);

            updateFormIndex(newForm, currentFormCount);

            const newFormInputs = newForm.getElementsByTagName('input');
            for (let input of newFormInputs) {
                input.value = '';
            }

            formsetDiv.appendChild(newForm);

            totalForms.setAttribute('value', currentFormCount + 1);

            addRemoveHandlers();
        });

        function updateFormIndex(form, index) {
            const regex = /fooditem-(\d+)-/g;
            form.innerHTML = form.innerHTML.replace(regex, `fooditem-${index}-`);

            const allElements = form.querySelectorAll('input, label');
            allElements.forEach(element => {
                if (element.id) {
                    element.id = element.id.replace(regex, `fooditem-${index}-`);
                }
                if (element.name) {
                    element.name = element.name.replace(regex, `fooditem-${index}-`);
                }
                if (element.htmlFor) {
                    element.htmlFor = element.htmlFor.replace(regex, `fooditem-${index}-`);
                }
            });
        }

        function addRemoveHandlers() {
            const removeButtons = document.querySelectorAll('.remove-form');
            removeButtons.forEach(button => {
                button.onclick = function (e) {
                    e.preventDefault();
                    const formToRemove = e.target.closest('.food-item-form');
                    formToRemove.remove();

                    updateTotalForms();
                };
            });
        }

        function updateTotalForms() {
            const formCount = formsetDiv.getElementsByClassName('food-item-form').length;
            totalForms.setAttribute('value', formCount);
        }

        addRemoveHandlers();
    });

</script>

<style>
    .search-results {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 1000;
}

.search-result-item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.food-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
}

.food-form-image {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border-radius: 5px;
}

.search-result-item:hover {
    background-color: #f0f0f0;
}


</style>

{% endblock %}